/obj/Debug/net5.0.13/.NETCoreApp,Version=v5.0.13.AssemblyAttributes.cs
/obj/Debug/net5.0.404/.NETCoreApp,Version=v5.0.404.AssemblyAttributes.cs
/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/obj/Debug/net5.0/apphost
/obj/Debug/net6.0/apphost
/bin/Debug/net5.0/appsettings.Development.json
/bin/Debug/net6.0/appsettings.Development.json
/bin/Debug/net5.0/appsettings.json
/bin/Debug/net6.0/appsettings.json
/bin/Debug/net5.0/FCCRPGCatalog
/bin/Debug/net6.0/FCCRPGCatalog
/obj/Debug/net5.0/FCCRPGCatalog.AssemblyInfo.cs
/obj/Debug/net5.0.13/FCCRPGCatalog.AssemblyInfo.cs
/obj/Debug/net5.0.404/FCCRPGCatalog.AssemblyInfo.cs
/obj/Debug/net5.0/FCCRPGCatalog.AssemblyInfoInputs.cache
/obj/Debug/net5.0.13/FCCRPGCatalog.AssemblyInfoInputs.cache
/obj/Debug/net5.0.404/FCCRPGCatalog.AssemblyInfoInputs.cache
/obj/Debug/net5.0/FCCRPGCatalog.assets.cache
/obj/Debug/net5.0.13/FCCRPGCatalog.assets.cache
/obj/Debug/net5.0.404/FCCRPGCatalog.assets.cache
/obj/Debug/net5.0/FCCRPGCatalog.csproj.AssemblyReference.cache
/obj/Debug/net5.0.13/FCCRPGCatalog.csproj.AssemblyReference.cache
/obj/Debug/net5.0/FCCRPGCatalog.csproj.CopyComplete
/obj/Debug/net6.0/FCCRPGCatalog.csproj.CopyComplete
/obj/Debug/net5.0/FCCRPGCatalog.csproj.CoreCompileInputs.cache
/obj/Debug/net6.0/FCCRPGCatalog.csproj.CoreCompileInputs.cache
/obj/Debug/net5.0/FCCRPGCatalog.csproj.FileListAbsolute.txt
/obj/Debug/net5.0.13/FCCRPGCatalog.csproj.FileListAbsolute.txt
/obj/Debug/net5.0.404/FCCRPGCatalog.csproj.FileListAbsolute.txt
/obj/Debug/net6.0/FCCRPGCatalog.csproj.FileListAbsolute.txt
/bin/Debug/net5.0/FCCRPGCatalog.deps.json
/bin/Debug/net6.0/FCCRPGCatalog.deps.json
/bin/Debug/net5.0/ref/FCCRPGCatalog.dll
/bin/Debug/net5.0/FCCRPGCatalog.dll
/bin/Debug/net6.0/ref/FCCRPGCatalog.dll
/bin/Debug/net6.0/FCCRPGCatalog.dll
/obj/Debug/net5.0/ref/FCCRPGCatalog.dll
/obj/Debug/net5.0/FCCRPGCatalog.dll
/obj/Debug/net6.0/ref/FCCRPGCatalog.dll
/obj/Debug/net6.0/FCCRPGCatalog.dll
/obj/Debug/net5.0/FCCRPGCatalog.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0.13/FCCRPGCatalog.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0.404/FCCRPGCatalog.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0/FCCRPGCatalog.genruntimeconfig.cache
/obj/Debug/net6.0/FCCRPGCatalog.genruntimeconfig.cache
/obj/Debug/net5.0/FCCRPGCatalog.GlobalUsings.g.cs
/obj/Debug/net5.0.13/FCCRPGCatalog.GlobalUsings.g.cs
/obj/Debug/net5.0.404/FCCRPGCatalog.GlobalUsings.g.cs
/obj/Debug/net5.0/FCCRPGCatalog.MvcApplicationPartsAssemblyInfo.cache
/obj/Debug/net6.0/FCCRPGCatalog.MvcApplicationPartsAssemblyInfo.cache
/obj/Debug/net5.0/FCCRPGCatalog.MvcApplicationPartsAssemblyInfo.cs
/obj/Debug/net6.0/FCCRPGCatalog.MvcApplicationPartsAssemblyInfo.cs
/bin/Debug/net5.0/FCCRPGCatalog.pdb
/bin/Debug/net6.0/FCCRPGCatalog.pdb
/obj/Debug/net5.0/FCCRPGCatalog.pdb
/obj/Debug/net6.0/FCCRPGCatalog.pdb
/obj/Debug/net5.0/FCCRPGCatalog.RazorTargetAssemblyInfo.cache
/bin/Debug/net5.0/FCCRPGCatalog.runtimeconfig.dev.json
/bin/Debug/net5.0/FCCRPGCatalog.runtimeconfig.json
/bin/Debug/net6.0/FCCRPGCatalog.runtimeconfig.json
/obj/Debug/net5.0/staticwebassets/FCCRPGCatalog.StaticWebAssets.Manifest.cache
/bin/Debug/net5.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/bin/Debug/net6.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/bin/Debug/net5.0/Microsoft.AspNetCore.Authentication.OpenIdConnect.dll
/bin/Debug/net6.0/Microsoft.AspNetCore.Authentication.OpenIdConnect.dll
/bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
/bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.dll
/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
/bin/Debug/net5.0/Microsoft.OpenApi.dll
/bin/Debug/net6.0/Microsoft.OpenApi.dll
/obj/rider.project.restore.info
/obj/Debug/net6.0/staticwebassets.build.json
/obj/staticwebassets.pack.sentinel
/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
